.main{
	width:340px;
	height:340px;
	border: 1px solid #ddd;
	margin: 5px auto;
}
.new_game{
	width:340px;
	height: 30px;
	border: 1px solid #ddd;
	border-radius: 2px;
	text-align: center;
	font-weight: 800;
	line-height: 30px;
	cursor: pointer;
	color: #555;
}
.wrapper{
	width:340px;
	margin: 20px auto;
}
.info{
	width:340px;
	height: 30px;
	border: 1px solid #ddd;
	border-radius: 2px;
	text-align: center;
	font-weight: 800;
	line-height: 30px;
    color: #555;
}
.cell{
	width: 30px;
	height: 30px;
	float: left;
	margin: 1px;
	border: 1px solid #ddd;
	background-color: #eee;
	border-radius: 2px;
	text-align: center;
	line-height: 30px;
	z-index: 5;
    color: transparent;
    cursor: default;
    font-weight: 800;
}
.default{

}
.on{
	background-color: #fff;
}
.bb{
   background: url(img/bomb.png) no-repeat;
   background-position: center;
   background-size: 75%;
}
.flagged{
   background: url(img/Flag.png) no-repeat;
   background-position: center;
   background-size: 75%; 
}